body {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  font-family: 'SF UI Display', sans-serif; }
  body * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

a {
  text-decoration: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: inherit; }

ul {
  list-style: none; }

img {
  max-width: 100%; }

button {
  cursor: pointer; }

label {
  cursor: pointer; }

section {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.container {
  margin-left: -15px; }

.main {
  max-width: 1840px;
  margin: 0 auto;
  width: 100%; }
  .main-box {
    background-color: #F8FAFC;
    -webkit-border-radius: 25px;
            border-radius: 25px;
    padding: 44px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .main-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 25px; }
  .main-label {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: white;
    padding: 5px 20px;
    background: -webkit-linear-gradient(188.35deg, #EFBB37 -3.95%, #CF9E1F 109.44%);
    background: -o-linear-gradient(188.35deg, #EFBB37 -3.95%, #CF9E1F 109.44%);
    background: linear-gradient(261.65deg, #EFBB37 -3.95%, #CF9E1F 109.44%);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 30px;
            border-radius: 30px; }
  .main-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #2C2C2C;
    margin-bottom: 10px; }
  .main-subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 20px; }
  .main-counter-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 33px;
       -moz-column-gap: 33px;
            column-gap: 33px;
    margin-left: 23px; }
  .main-counter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #E2E9F0;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    max-width: 100px;
    width: 100%;
    padding: 8px 15px;
    -webkit-transition-duration: .5s;
         -o-transition-duration: .5s;
            transition-duration: .5s; }
    .main-counter:hover {
      background: #D8E3EE;
      -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
              box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); }
  .main-buy {
    background: -webkit-linear-gradient(188.35deg, #EFBB37 -3.95%, #CF9E1F 109.44%);
    background: -o-linear-gradient(188.35deg, #EFBB37 -3.95%, #CF9E1F 109.44%);
    background: linear-gradient(261.65deg, #EFBB37 -3.95%, #CF9E1F 109.44%);
    -webkit-border-radius: 30px;
            border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 9px 0;
    -webkit-transition-duration: .5s;
         -o-transition-duration: .5s;
            transition-duration: .5s; }
    .main-buy:hover {
      -webkit-filter: drop-shadow(0px 0px 20px #E8CB80);
              filter: drop-shadow(0px 0px 20px #E8CB80); }
    .main-buy:focus {
      background: -webkit-linear-gradient(188.35deg, #FFD773 -3.95%, #E2B645 109.44%);
      background: -o-linear-gradient(188.35deg, #FFD773 -3.95%, #E2B645 109.44%);
      background: linear-gradient(261.65deg, #FFD773 -3.95%, #E2B645 109.44%); }
  .main-radio {
    margin-bottom: 25px;
    margin-left: 23px; }
  .main-droplist {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 265px;
    width: 100%;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    padding: 8px 15px;
    background-color: #fff;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    position: relative; }
  .main-options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.wrapper-box {
  padding: 0 15px;
  width: 33.3333%; }

.icon {
  background-color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 11px 15px 7px 15px;
  cursor: pointer;
  -webkit-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;
  width: 43px; }
  .icon:hover {
    -webkit-filter: drop-shadow(0px 0px 8px #BDD0E3);
            filter: drop-shadow(0px 0px 8px #BDD0E3); }

.img-box {
  max-height: 260px;
  height: 100%; }
  .img-box img {
    cursor: pointer; }

.buttonCountNumber, .buttonCountPlus, .buttonCountMinus {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #2C2C2C; }

.buttonCountPlus, .buttonCountMinus {
  cursor: pointer; }

.buttonCountMinus {
  font-size: 24px; }

.label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .label input:checked ~ .checkmark {
    background-color: #DEDEDE; }
  .label input:checked ~ .checkmark:after {
    display: block; }
  .label .checkmark:after {
    top: 4px;
    left: 4px;
    width: 17px;
    height: 17px;
    background: -webkit-linear-gradient(188.35deg, #EFBB37 -3.95%, #CF9E1F 109.44%);
    background: -o-linear-gradient(188.35deg, #EFBB37 -3.95%, #CF9E1F 109.44%);
    background: linear-gradient(261.65deg, #EFBB37 -3.95%, #CF9E1F 109.44%);
    -webkit-border-radius: 5px;
            border-radius: 5px; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background: #DEDEDE;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none; }

.droplist {
  -webkit-border-radius: 0 0 30px 30px;
          border-radius: 0 0 30px 30px;
  background-color: #fff;
  font-size: 12px;
  font-weight: 500;
  max-width: 265px;
  width: 100%;
  position: absolute;
  top: 23px;
  left: 0;
  z-index: 999;
  max-height: 125px;
  height: 0;
  -webkit-transition: height .5s ease;
  -o-transition: height .5s ease;
  transition: height .5s ease;
  display: none; }
  .droplist-value {
    width: 100%;
    position: relative; }
  .droplist-img {
    position: absolute;
    right: 15px;
    top: 11px;
    pointer-events: none;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .droplist-img.open {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .droplist.open {
    height: auto;
    display: block; }
  .droplist-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 8px 15px; }
    .droplist-item:hover {
      background-color: #F3F8FC; }
    .droplist-item.active {
      background-color: #F3F8FC; }
