doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="assets/img/favicon.ico", rel="shortcut icon")
    link(rel="stylesheet",type="text/css", href="css/libs.min.css")
    link(rel="stylesheet",type="text/css", href="css/main.css")
    link(rel="stylesheet",type="text/css", href="fonts/fonts.css")
    link(href='http://fonts.cdnfonts.com/css/sf-ui-display' rel='stylesheet')
    title Adel
  body
    #contentWrapper.content-wrapper
      #pageWrapper.page-wrapper
        include _header
        block content
      #footerWrapper.footer-wrapper
        include _footer
    script(src="js/libs.min.js")
    script(src="js/common.js")