extends blocks/_layout

append content

    -
        var items = [
            {
                title: 'Шампунь',
                subtitle: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.',
                src: './img/img-1.png',
                label: 'NEW',
                icon:'./img/libra.png',
                srcOnHover: './img/img-1-hover.png',
                iconChecked: './img/ok.png',
            },
            {
                title: 'Шампунь',
                subtitle: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.',
                src: './img/img-2.png',
                label: 'NEW',
                icon:'./img/libra.png',
                srcOnHover: './img/img-2-hover.png',
                iconChecked: './img/ok.png',
            },
            {
                title: 'Шампунь',
                subtitle: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.',
                src: './img/img-3.jpg',
                label: 'NEW',
                icon:'./img/libra.png',
                srcOnHover: './img/img-3-hover.png',
                iconChecked: './img/ok.png',
            },
        ];

    section.main
        .container
            .wrapper
                each item in items
                    .wrapper-box
                        .main-box
                            .main-header
                                a.main-label(href='#')=item.label
                                .img-box
                                    img(src=item.src alt='#' data-hover=item.srcOnHover)
                                a(href='#').icon
                                    img.icon-img(src=item.icon alt='#' data-checked=item.iconChecked data-icon=item.icon)
                            .main-title=item.title
                            .main-subtitle=item.subtitle
                            form.main-calculation
                                .main-options
                                    .main-droplist
                                        .droplist-value Цвет
                                        img.droplist-img(src='./img/arrow-down.png' alt='#')
                                        ul.droplist
                                            li.droplist-item(data-value='Желтый') Желтый
                                            li.droplist-item(data-value='Красный') Красный
                                            li.droplist-item(data-value='Зеленый') Зеленый
                                    .main-price
                                        span.price 200
                                        | &nbsp; грн
                                .main-radio
                                    label.label
                                        | 100 мл
                                        input.volume(type='radio' checked='checked' name='radio' data-price='200')
                                        span.checkmark
                                    label.label
                                        | 200 мл
                                        input.volume(type='radio' name='radio' data-price='400')
                                        span.checkmark
                                    label.label
                                        | 300 мл
                                        input.volume(type='radio' name='radio' data-price='600')
                                        span.checkmark
                                .main-counter-wrapper
                                    .main-counter
                                        input.buttonCountMinus(type='button' value='-')
                                        .buttonCountNumber 1
                                        input.buttonCountPlus(type='button' value='+')
                                    button.main-buy КУПИТЬ



