body
  margin: 0
  font-weight: normal
  font-size: 16px
  color: #000000
  font-family: 'SF UI Display', sans-serif

  & *
    margin: 0
    padding: 0
    border: 0
    outline: 0
    background-color: transparent
    box-sizing: border-box

a
  text-decoration: none
  transition: .3s
  color: inherit

ul
  list-style: none

img
  max-width: 100%

button
  cursor: pointer

label
  cursor: pointer

section
  flex-grow: 1

.container
  margin-left: -15px


