.main
  max-width: 1840px
  margin: 0 auto
  width: 100%

  &-box
    background-color: #F8FAFC
    border-radius: 25px
    padding: 44px
    width: 100%
    display: flex
    flex-wrap: wrap
    flex-direction: column
    box-sizing: border-box

  &-header
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: flex-start
    margin-bottom: 25px

  &-label
    font-weight: 300
    font-size: 14px
    line-height: 17px
    color: white
    padding: 5px 20px
    background: linear-gradient(261.65deg, #EFBB37 -3.95%, #CF9E1F 109.44%)
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)
    border-radius: 30px

  &-title
    font-weight: 500
    font-size: 24px
    line-height: 29px
    text-align: center
    color: #2C2C2C
    margin-bottom: 10px

  &-subtitle
    font-weight: normal
    font-size: 16px
    line-height: 24px
    color: #2C2C2C
    margin-bottom: 20px

  &-counter-wrapper
    display: flex
    align-items: center
    column-gap: 33px
    margin-left: 23px

  &-counter
    display: flex
    align-items: center
    justify-content: space-between
    background: #E2E9F0
    border-radius: 30px
    max-width: 100px
    width: 100%
    padding: 8px 15px
    transition-duration: .5s

    &:hover
      background: #D8E3EE
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)

  &-buy
    background: linear-gradient(261.65deg, #EFBB37 -3.95%, #CF9E1F 109.44%)
    border-radius: 30px
    font-weight: 600
    font-size: 18px
    line-height: 21px
    color: #FFFFFF
    width: 100%
    flex-grow: 1
    padding: 9px 0
    transition-duration: .5s

    &:hover
      filter: drop-shadow(0px 0px 20px #E8CB80)

    &:focus
      background: linear-gradient(261.65deg, #FFD773 -3.95%, #E2B645 109.44%)

  &-radio
    margin-bottom: 25px
    margin-left: 23px

  &-droplist
    display: flex
    align-items: center
    justify-content: space-between
    max-width: 265px
    width: 100%
    border-radius: 30px
    padding: 8px 15px
    background-color: #fff
    margin-bottom: 15px
    cursor: pointer
    font-size: 12px
    font-weight: 500
    position: relative

  &-options
    display: flex
    align-items: flex-start
    justify-content: space-between

.wrapper
  display: flex
  flex-wrap: wrap

.wrapper-box
  padding: 0 15px
  width: 33.3333%
.icon
  background-color: #fff
  border-radius: 50%
  padding: 11px 15px 7px 15px
  cursor: pointer
  transition-duration: .5s
  width: 43px

  &:hover
    filter: drop-shadow(0px 0px 8px #BDD0E3)

.img-box
  max-height: 260px
  height: 100%

  & img
    cursor: pointer


.buttonCountNumber, .buttonCountPlus, .buttonCountMinus
  font-family: Roboto, sans-serif
  font-style: normal
  font-weight: normal
  font-size: 20px
  line-height: 23px
  color: #2C2C2C

.buttonCountPlus, .buttonCountMinus
  cursor: pointer

.buttonCountMinus
  font-size: 24px

.label
  display: block
  position: relative
  padding-left: 35px
  margin-bottom: 12px
  cursor: pointer
  font-size: 16px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

  input
    position: absolute
    opacity: 0
    cursor: pointer
    height: 0
    width: 0

  input:checked ~ .checkmark
    background-color: #DEDEDE

  input:checked ~ .checkmark:after
    display: block

  .checkmark:after
    top: 4px
    left: 4px
    width: 17px
    height: 17px
    background: linear-gradient(261.65deg, #EFBB37 -3.95%, #CF9E1F 109.44%)
    border-radius: 5px

.checkmark
  position: absolute
  top: 0
  left: 0
  height: 25px
  width: 25px
  background: #DEDEDE
  border-radius: 5px

  &:after
    content: ""
    position: absolute
    display: none

.droplist
  border-radius: 0 0 30px 30px
  background-color: #fff
  font-size: 12px
  font-weight: 500
  max-width: 265px
  width: 100%
  position: absolute
  top: 23px
  left: 0
  z-index: 999
  max-height: 125px
  height: 0
  transition: height .5s ease
  display: none

  &-value
    width: 100%
    position: relative

  &-img
    position: absolute
    right: 15px
    top: 11px
    pointer-events: none
    transition: all .3s

  &-img.open
    transform: rotate(180deg)

  &.open
    height: auto
    display: block

  &-item
    display: flex
    align-items: center
    justify-content: space-between
    padding: 8px 15px

    &:hover
      background-color: #F3F8FC

    &.active
      background-color: #F3F8FC

